apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: voidpulse
  labels:
    app: redis
    app.kubernetes.io/name: voidpulse
    app.kubernetes.io/component: cache
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
