apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: voidpulse
  labels:
    app: postgres
    app.kubernetes.io/name: voidpulse
    app.kubernetes.io/component: database
spec:
  type: ClusterIP
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
